{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Refvugee Password Reset
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-0">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="mb-4">
                <small class="text-muted">
                    Make sure that you enter the email that is connected to your account!
                    <br>
                    If you don't receive an email within a minute, please check your spam folder.
                </small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info gold-btn">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}